version: 2
updates:
    - package-ecosystem: gomod
      directories:
        - /
      schedule:
        interval: weekly
      ignore:
        - dependency-name: knative.dev/*
        - dependency-name: k8s.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: github.com/openshift/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: sigs.k8s.io/controller-runtime
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: istio.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - istio.io/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
                - istio.io/*
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.15
      commit-message:
        prefix: '[release-v1.15][gomod]'
      open-pull-requests-limit: 10
    - package-ecosystem: npm
      directories:
        - /backstage
        - /backstage/plugins/knative-event-mesh-backend
        - /backstage/packages/app
        - /backstage/packages/backend
        - /backstage/plugins/knative-event-mesh-backend/dist-dynamic
      schedule:
        interval: weekly
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.15
      commit-message:
        prefix: '[release-v1.15][npm]'
      open-pull-requests-limit: 10
    - package-ecosystem: gomod
      directories:
        - /
      schedule:
        interval: weekly
      ignore:
        - dependency-name: knative.dev/*
        - dependency-name: k8s.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: github.com/openshift/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: sigs.k8s.io/controller-runtime
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: istio.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - istio.io/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
                - istio.io/*
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.16
      commit-message:
        prefix: '[release-v1.16][gomod]'
      open-pull-requests-limit: 10
    - package-ecosystem: npm
      directories:
        - /backstage
        - /backstage/plugins/knative-event-mesh-backend
        - /backstage/packages/app
        - /backstage/packages/backend
        - /backstage/plugins/knative-event-mesh-backend/dist-dynamic
      schedule:
        interval: weekly
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.16
      commit-message:
        prefix: '[release-v1.16][npm]'
      open-pull-requests-limit: 10
    - package-ecosystem: gomod
      directories:
        - /
      schedule:
        interval: weekly
      ignore:
        - dependency-name: knative.dev/*
        - dependency-name: k8s.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: github.com/openshift/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: sigs.k8s.io/controller-runtime
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: istio.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - istio.io/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
                - istio.io/*
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.17
      commit-message:
        prefix: '[release-v1.17][gomod]'
      open-pull-requests-limit: 10
    - package-ecosystem: npm
      directories:
        - /backstage
        - /backstage/plugins/knative-event-mesh-backend
        - /backstage/packages/app
        - /backstage/packages/backend
        - /backstage/plugins/knative-event-mesh-backend/dist-dynamic
      schedule:
        interval: weekly
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.17
      commit-message:
        prefix: '[release-v1.17][npm]'
      open-pull-requests-limit: 10
    - package-ecosystem: gomod
      directories:
        - /
      schedule:
        interval: weekly
      ignore:
        - dependency-name: knative.dev/*
        - dependency-name: k8s.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: github.com/openshift/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: sigs.k8s.io/controller-runtime
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
        - dependency-name: istio.io/*
          update-types:
            - version-update:semver-major
            - version-update:semver-minor
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - istio.io/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
            exclude-patterns:
                - knative.dev/*
                - k8s.io/*
                - github.com/openshift/*
                - sigs.k8s.io/controller-runtime*
                - istio.io/*
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.21
      commit-message:
        prefix: '[release-v1.21][gomod]'
      open-pull-requests-limit: 10
    - package-ecosystem: npm
      directories:
        - /backstage
        - /backstage/plugins/knative-event-mesh-backend
        - /backstage/packages/app
        - /backstage/packages/backend
        - /backstage/plugins/knative-event-mesh-backend/dist-dynamic
      schedule:
        interval: weekly
      groups:
        major:
            update-types:
                - major
            patterns:
                - '*'
            applies-to: version-updates
        minor:
            update-types:
                - minor
            patterns:
                - '*'
            applies-to: version-updates
        patch:
            update-types:
                - patch
            patterns:
                - '*'
            applies-to: version-updates
        security:
            update-types:
                - patch
                - minor
                - major
            patterns:
                - '*'
            applies-to: security-updates
      target-branch: release-v1.21
      commit-message:
        prefix: '[release-v1.21][npm]'
      open-pull-requests-limit: 10
